.viewCheckBorder {
    display: flex;
    width: 100%;
}

.viewCheckIcon {
    display: none;
    flex-shrink: 0; /* 아이템 크기 고정 */
}

label::before {
    width: 31px;
    height: 31px;
    content: '';
    float: left;
    margin-left: 4px;
    background-image: url('../../../public/image/ic_viewcheck_false.png');
    flex: 1;
}

.viewCheckIcon:checked + label::before {
    background-image: url('../../../public/image/ic_viewcheck_true.png');
}

.viewCheckContent {
    height: auto;
    border: none;
    outline: none;
    font-size: 20px;
    resize: none;
    overflow: hidden;
    margin-left: 14px;
    flex: 1; /* 아이템 크기 자유 조절 */
    vertical-align: middle;
    margin-top: 5px;
}

.viewCheckContent::placeholder {
    color: 7B7B7B;
    font-size: 20px;
}