.dialog {
    width: fit-content;
    height: fit-content;

    border: none;
    border-radius: 10px;
    padding: 0px;
}

.innerDialog {
    width: 320px;
    min-height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    background-color: #6368E3;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.title {
    color: white;
    margin-left: 10px;

    font-size: 14px;
}

.folderNameText {
    color: white;
    font-size: 14px;
    margin: 10px;
}

.folderName {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 40px;
    margin-left: 10px;

    padding: 2px;
}

.folderIcon {
    margin-left: 10px;
}

.buttonDiv {
    display: flex;
    text-align: center;
    margin: 14px;
    justify-content: space-evenly;
}

.buttons {
    margin: 3px;
    border: 1px solid #6368E3;
    border-radius: 30px;
    cursor: pointer;
    padding: 5px;
    width: 90px;
}

.white {
    background-color: white;
    color: #6368E3;
}

.mainColor {
    background-color: #6368E3;
    color: white;
}

.descDiv {
    height: 100%;
    min-height: 40px;
    white-space: pre-line;
    flex-grow: 1;

    margin: 14px 14px 0px 14px;
}

.descText {
    font-size: 14px;

    vertical-align: center;
}