.rootButton {
    float: right;
    border: none;
    border-radius: 40px;
    background-color: #6368E3;

    color:white;

    font-size: 16px;
    padding: 12px 20px 12px 20px;

    cursor: pointer;
}

.plusSpan {
    background-color: white;
    color: #6368E3;

    font-weight: bold;
    margin-left: 14px;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    display: inline-block;
}

.addForm {
    display: inline-flex;
    flex-direction: column;
}

.button {
    display: inline-flex;
    vertical-align: bottom;
}

.fieldDiv {
    display: flex;
    justify-content: space-between;
    margin: 3px;

    align-items: center;
}

.label {
    color: #6368E3;
    font-weight: bold;
}

.input {
    border: 1px solid #6368E3;
    border-radius: 20px;

    margin-left: 8px;

    padding: 4px 6px 4px 6px;
}