.rootButton {
    float: right;
    border: none;
    border-radius: 40px;
    background-color: #6368E3;

    color:white;

    font-size: 16px;
    padding: 12px 20px 12px 20px;

    cursor: pointer;
}

.plusSpan {
    background-color: white;
    color: #6368E3;

    font-weight: bold;
    margin-left: 14px;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    display: inline-block;
}

.addForm {
    display: inline-flex;
    flex-direction: column;
}

.button {
    display: inline-flex;
    vertical-align: bottom;
}

.fieldDiv {
    display: flex;
    justify-content: space-between;
    margin: 3px;

    align-items: center;
}

.label {
    color: #6368E3;
    font-weight: bold;
}

.input {
    border: 1px solid #6368E3;
    border-radius: 20px;

    margin-left: 8px;

    padding: 4px 6px 4px 6px;

    width: 74%;

    font-size:14px;
}

.addFolderButton {
    float: right;
    border: none;
    border-radius: 40px;
    background-color: #6368E3;

    color:white;

    font-size: 16px;
    padding: 12px 20px 12px 20px;

    cursor: pointer;

    vertical-align: center;
}

.buttonCircle {
    border: none;
    background: white;
    border-radius: 100%;

    aspect-ratio: 1 / 1;
    width: 22px ;

    color: #6368E3;

    margin-left: 10px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.buttonCircleDark {
    border: none;
    background: #6368E3;
    border-radius: 100%;

    aspect-ratio: 1 / 1;
    width: 22px ;

    color: white;

    margin-left: 10px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.selectDiv {
    border: 1px solid #6368E3;
    border-radius: 10px;
    position: relative;

    display: block;

    border: 1px solid #6368E3;
    border-radius: 20px;
    margin-left: 8px;

    width: 80%;
}

.selectDiv:after {
    position: absolute;

    content: "▾";
    font-size: 20px;
    color: #6368E3;

    pointer-events: none;

    right: 8px;
    bottom: 0px;
}

.select {
    border: none;
    font-size: 14px;

    padding: 4px 32px 4px 6px;

    color: #6368E3;
    background-color: transparent;

    appearance: none;

    float: right;
}

.select:focus {
    outline: none;
}