.onlyMargin {
    margin: 1em;
}

.toolbar {
    display: flex;
    justify-content: space-between;

    align-items: flex-end;
}

.buttonsLine {
    display: flex;
    justify-content: space-between;
}

.plusSpan {
    background-color: white;
    color: #6368E3;

    font-weight: bold;
    margin-left: 14px;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    display: inline-block;
}

.selectDiv {
    border: 1px solid #6368E3;
    border-radius: 10px;
    position: relative;

    display: inline-block;

    height: fit-content;
}

.selectDiv:after {
    position: absolute;

    content: "▾";
    font-size: 20px;
    color: #6368E3;

    pointer-events: none;

    right: 8px;
    padding-top: 2px;
}
