.searchIcon {
    color: #6368E3;
    margin: 3px;
}

.keywordField {
    border: none;
    width: 300px;
    margin-left: 3px;
}

.searchBox {
    border: 2px solid #6368E3;
    border-radius: 40px;

    width: fit-content;
    padding: 8px;

    display:inline-flex;
    vertical-align: middle;
}
