.select {
    border: none;
    font-size: 14px;

    padding: 8px 30px 8px 24px;

    color: #6368E3;
    background-color: transparent;

    appearance: none;

    float: right;
}

.select:focus {
    outline: none;
}